ErrorDocument 400 http://viswa2k.ml/
ErrorDocument 401 http://viswa2k.ml/
ErrorDocument 403 http://viswa2k.ml/
ErrorDocument 404 http://viswa2k.ml/
ErrorDocument 503 http://viswa2k.ml/

RewriteEngine on

RewriteCond  %{DOCUMENT_ROOT}/p/data/$1.txt -f
RewriteRule  ^(.*)$  /p/data/$1.txt [L,QSA]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php  [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ functions/redirect.php?secret=$1 [L]